%homepageFields {
    border-radius: 50px;
    background-color: white;
    border-color: blue;
    padding-left: 40px;
    padding-right: 40px;
}

%navDownFields {
    border-color: black;
    border-radius: 50px;
    padding: 2px 30px;
}

%resetAndApplyBtn {
    background-color: $primary;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}